<div class="container">
  <div class="jumbotron">
    <h2 id="home-page-header"> Does the Lesbian Die? </h2>
    <p> This site was created as an effort to prevent people from watching movies where an LGBTQ+ women dies. </p>
    <p> Instead of investing hours into a show, movie, video game, or book only to find out your favorite character dies you can search through this database before investing time in something. </p>
    <p> To get started you can start searching below: </p>
    <div class="form-group">
      <%= form_tag(stories_path(), method: :get) do %>
        <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search"%>
      <% end %>
    </div>
</div>
</div>
