<div class=container>
  <% if @stories.present? %>
    <% @stories.each do |story| %>
    <ul>
      <li><h3> <%= link_to story.title, story %></h3></li>
    </ul
    <% end %>
  <% else %>
  <%= "No results" %>
  <% end %>
</div>
