<div class="container">
<div class="jumbotron">
<h1><%= @story.title %></h1>
<p><%= @story.synopsis %></p>
<ul>
  <% @story.characters.each do |character| %>
  <li> <%= link_to character.character_name, story_character_path(@story, character) %> </li>

  <% end %>
</ul>

</div>
</div>
