<div class="container">
  <div class="jumbotron">
    <h1><%= @character.character_name %></h1>
    <p>Dead?: <%= @character.death %></p>
    <p>Description: <%= @character.description %> </p>
  </div>
</div>
